<html>
	<head>
		<title>
			Vue js Tutorial
		</title>
		
	</head>
	<body>
		
		<div id="root">
			<ul>
				<li v-for="(payment, i ) in payments">
					<p>{{i+1}}</p> <p>{{payment.name}}</p><span> {{payment.amount}}</span> <span>{{payment.paid}}</span>
				</li>
			</ul>
			<ul>
				<li v-for="(payment, i ) in unpaidPayments">
					<p>{{i+1}}</p> <p>{{payment.name}}</p><span> {{payment.amount}}</span> <span>{{payment.paid}}</span>
				</li>
			</ul>
			
			<h1>Total Amount is : {{totalAmount}}</h1>

		</div>


		<script type="text/javascript" src="js-library.js"></script>

		<script type="text/javascript">
			var app = new Vue({
				el:"#root",
				data:{
					payments:[
						{name:"houseRent",amount:15000,paid:true},
						{name:"electricity",amount:1000,paid:false},
						{name:"Gass",amount:150,paid:false},
					]
				},
				computed:{
					unpaidPayments:function(){
						return this.payments.filter(function(p){
							return !p.paid;
						});
					},
					totalAmount:function(){
						var sum = 0;
						for(var i=0;i<this.payments.length;i++){
							sum +=this.payments[i].amount;
						}
						return sum;
					}
				}

			});
			
		</script>
	</body>
</html>