<html>
	<head>
		<title>
			Vue js Tutorial
		</title>
	</head>
	<body>
		
		<div >
			<p>Enter Your Personal Information: </p>
	
			<table id="root">
				<tr>
					<td>Name</td><td><input type="text" v-model="student_name"></td>
				</tr>
				<tr>
					<td>Email</td><td><input type="email" v-model="student_email"></td>
				</tr>
				<tr>
					<td>Password</td><td><input type="Password" v-model="student_password"></td>
				</tr>
				<tr>
					<td>Name</td> <td>{{student_name}}</td>
				</tr>
				<tr>
					<td>Email</td> <td>{{student_email}}</td>
				</tr>
				<tr>
					<td>Password</td> <td>{{student_password}}</td>
				</tr>

			</table>


		</div>


		<script type="text/javascript" src="js-library.js"></script>

		<script type="text/javascript">
			var app = new Vue({
				el:"#root",
				data:{
					student_name:"xyz",
					student_email:"xyz@info.com",
					student_password:"xxxxxxxx",

				}  

			});
			
		</script>
	</body>
</html>